body {
  height: 5000px;
}

section {
  width: 800px;
  height: 500px;
  border: 1px solid #ddd;
  position: relative;
  margin: 0 auto;
}

#box {
  width: 100px;
  height: 100px;
  background: aqua;
  position: absolute;
  top: 0;
  left: 0;
}